@font-face {
    font-family: 'Handlee';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local('Handlee'),
      url('/Handlee-Regular.ttf') format('truetype');
  }
  

*{
    font-family: "Handlee", cursive;
    font-weight: 500;
    font-style: normal;
}
