.alert {
    &--hidden {
        visibility: hidden;
    }

    &--error {
        visibility: visible;
        color: red;
    }

    &--info {
        visibility: visible;
        color: green;
    }
}
