$errorColor: rgb(255, 0, 0);
$infoColor: rgb(0, 128, 0);
$wrapperHeight: 3.75rem;

@mixin color($alertColor, $container: false){
    color: $alertColor;
    @if $container {
        border-color: rgba($alertColor, 0.15);
        background-color: rgba($alertColor, 0.05); 
    }
}

.alertWrapper {
    display: flex;
    overflow: hidden;
    margin-bottom: 0.375rem;
    border: 0.063rem solid;
    border-radius: 0.313rem;
    height: $wrapperHeight;
    width: fit-content;

    &--error {
        @include color($errorColor, true);
    }

    &--info {
        @include color($infoColor, true);
    }

    &__header {
        margin: 0;
        display: inline-flex;
        height: 100%;
        padding-top: 0.8rem;
        min-width: 12.5rem;
        max-width: 18.75rem;
        flex-wrap: wrap;
        border: none;

        &--hidden {
            visibility: hidden;
            display: none;
            height: 0;
        }

        &--error {
            visibility: visible;
            @include color($errorColor);
            
        }

        &--info {
            visibility: visible;
            @include color($infoColor);
        }
    }

    &__alertImgContainer {
        padding: 0.8rem 0.5rem 0 0.5rem;
        height: 100%;
        display: inline-flex;
    } 

    &__alertImg {
        height: 
        20px; 
        width: 20px;
    }
    
    &__btnContainer {
        display: inline-flex;
        margin-right: 0.2rem;
        margin-top: 0.2rem;
    }
}

.v {
    &-enter-from {
        opacity: 0;
        transform-origin: bottom;
        transform: translateY(2.5rem);
    }

    &-enter-active{
        opacity: 1;
        height: $wrapperHeight;
        visibility: visible;
        transition: all 0.3s ease-in-out ;
    }

    &-leave-active {
        transform-origin: center;
        opacity: 1;
        visibility: visible;
        transition: all 0.15s ease-in-out ;
    }

    &-leave-to {
        opacity: 0;
        border-width: 0;
        height: 0;
        margin-bottom: 0;
        visibility: hidden;
    }
}
