.alert {
    &--hidden{
        visibility: hidden;
    }

    &--visible{
        visibility: visible;
    }

    &--error{
        color: red;
        font-weight: 600;
    }

    &--info{
        color: green;
    }
}
